{% for chat in mychats %}
    {% if chat.receiver == request.user %}
        <div class="roomListRoom">
            <div class="roomListRoom__header">
                <a href="{% url 'user-profile' chat.sender.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small active">
                        <img src="{{ chat.sender.avator.url }}"/>
                    </div>
                    <span>@{{ chat.sender.username }}</span>
                </a>
                        <div class="roomListRoom__actions">
                            <span>{{chat.time|timesince}} ago</span>
                        </div>
            </div>
            <div class="roomListRoom__content">
                <a href="{% url 'chatwithme' %}">{{ room.name }}</a>
            </div>
        </div>
    {% elif chat.sender == request.user %}
        <div class="roomListRoom">
            <div class="roomListRoom__header">
                <a href="{% url 'user-profile' chat.receiver.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small active">
                        <img src="{{ chat.receiver.avator.url }}"/>
                    </div>
                    <span>@{{ chat.receiver.username }}</span>
                </a>
                {#        <div class="roomListRoom__actions">#}
                {#            <span>{{room.created|timesince}} ago</span>#}
                {#        </div>#}
            </div>
            <div class="roomListRoom__content">
                <a href="{% url 'chatwithme' %}">{{ room.name }}</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
