{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        .btn{
            font-size: 20px;
        }
        .align div{
            display: flex;
        }
        p{
            margin-top: -5px;
            font-size: 20px;
            font-style: italic;
        }
        h2{
            padding-right: 10px;
            font-weight: bolder;
            font-size: 20px;
        }
        img{
            width: 100px;
            height: 200px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="container mt-3">
        <div class="d-flex flex-column align">
            <div>
                <h2>Title:</h2>
                <p>{{ video.video_title }}</p><br>
            </div>
            <div>
                <h2>Description:</h2>
                <p>{{ video.video_description }}</p><br>
            </div>
            <div>
                <h2>Type:</h2>
                <p>{{ video.type }}</p><br>
            </div>
            <div>
                <h2>Cost:</h2>
                <p>{{ video.cost }}</p><br>
            </div>
            <div>
                <h2>Owner:</h2>
                <p>{{ video.video_owner.username }}</p><br>
            </div>
            <div>
                <h2>Cover:</h2>
                <img src="{{ video.video_image.url }}" alt="" style="width: 200px"><br>
            </div>
            <div>
                <h2>Created:</h2>
                <p>{{ video.created }}</p><br>
            </div>
            <div>
                <h2>updated:</h2>
                <p>{{ video.updated }}</p><br>
            </div><div>
                <h2>Views:</h2>
                <p>{{ views_count }}</p><br>
            </div>
        </div>
        <div class="d-flex container justify-content-evenly bg-primary">
            {% if video.video_owner == request.user %}
                <a href="{% url 'deletevideo' video.id %}" class="btn btn-danger">delete</a>
                <a href="{% url 'updatevideo' video.id %}" class="btn btn-warning">update</a>
                <a href="" class="btn btn-secondary">sales</a>
                <a href="{% url 'watch' video.id %}" class="btn btn-success">Play</a>
            {% elif video.type == 'free' %}
                <a href="" class="btn btn-success">Play</a>
            {% else %}
                <a href="" class="btn btn-success">Buy</a>
            {% endif %}
        </div>
    </section>
{% endblock %}